<style>
    .not_found_page{
        background-image: url(~/wwwroot/PostImages/404.png);
        background-origin: border-box;
        background-size: cover;
        height:85vh;
    }
</style>


<div class="not_found_page" style="background: url(~/wwwroot/PostImages/404.png) no-repeat center center;">

</div>